@charset "UTF-8";

/* hero */

.states-hero {
    margin: 0 auto;
    padding: 0;
    height: auto;
    min-height: 93vh;
    background-color: var(--Blue-2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('../../../../static/svgs/index/states/layered-waves-haikei-states.svg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.states-hero .page-title {
    font-weight: 700;
}

.states-hero .page-subtitle {
    color: var(--Blue-3);
}

.states-hero-text {
    margin: 2rem;
    color: black;
    font-size: 1.2rem;
    font-family: var(--font-1);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.states-select-description {
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--font-1);
}

.container-select {
    background-color: var(--Blue-1);
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container-select .form-select {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.7rem;
    margin: auto;
    border-radius: 0.5rem;
    background-color: var(--Blue-2);
    width: 75%;
    font-family: var(--font-1);
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
}

.container-select .form-select:focus {
    border-color: var(--Blue-5);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(10, 10, 10, 0.25);
}

.container-select .form-select option {
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: var(--font-1);
    background-color: var(--Blue-1);
}

.container-select .form-select:hover {
    background-color: var(--Blue-3);
    transform: scale(1.01);
}

.select-states-btn {
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    color: var(--Blue-1);
    background-color: var(--Blue-4);
    border: none;
    text-decoration: none;
    text-align: bottom;
    align-items: bottom;
    justify-content: bottom;
    transition: all 0.4s ease-in-out;
}

.select-states-btn:hover {
    background-color: var(--Blue-3);
}

.select-states-btn a {
    color: var(--Blue-1);
    font-weight: 500;
}

.states-card-group {
    gap: 0.5rem;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.states-card-group .card {
    flex: 1 1 calc(45% - 1rem);
    max-width: 300px;
    height: 250px;
    max-height: 400px;
    background-color: var(--Blue-1);
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

.states-card-group .card:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 0 var(--Blue-5);
    border-radius: 1rem;
}

.states-card-group .card-title {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: var(--font-1);
}

.states-card-group .card-text {
    font-size: 1.1rem;
    font-weight: 475;
    font-family: var(--font-1);
}

.states-card-group .states-card-btn {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    color: var(--Blue-1);
    background-color: var(--Blue-4);
    font-family: var(--font-1);
    text-decoration: none;
    text-align: bottom;
    align-items: bottom;
    justify-content: bottom;
    transition: all 0.4s ease-in-out;
}

.states-card-group .states-card-btn:hover {
    background-color: var(--Blue-2);
    color: black;
}

@media (max-width: 1240px) {
    .states-hero .page-subtitle {
        font-size: 1.5rem;
    }

    .states-hero-text {
        margin: 1rem;
        font-size: 1.2rem;
    }

    .container-select {
        padding: 1.5rem;
        margin: 1rem;
    }

    .states-card-group .card {
        flex: 1 1 calc(50% - 1rem);
    }

    .states-card-group .card-title {
        font-size: 1.1rem;
    }

    .states-card-group .states-card-btn {
        font-size: 0.9rem;
    }

    .states-select-description {
        font-size: 1rem;
    }

    .select-states-btn {
        font-size: 0.9rem;
    }
}

@media (max-width: 1199px) {
    .states-card-group .last-card {
        width: 100%;
        max-width: 610px;
        height: 175px;
        max-height: 250px;
    }
}

@media (max-width: 991px) {
    .states-hero {
        min-height: 95vh;
    }

    .states-hero .page-title {
        margin-top: 1rem;
    }

    .states-hero .page-subtitle {
        font-size: 1.3rem;
    }

    .states-hero-text {
        margin: 1rem;
        font-size: 1.1rem;
    }
}

@media (max-width: 767px) {
    .states-hero-text {
        margin: 0.5rem;
        font-size: 1.2rem;
    }

    .container-select {
        padding: 1.5rem;
        margin: 0.5rem;
    }

    .states-card-group .card {
        max-width: 400px;
        height: 300px;
        max-height: 400px;
    }

    .states-card-group .last-card {
        width: 100%;
        max-width: 610px;
        height: 175px;
        max-height: 250px;
    }

    .states-card-group .card-title {
        font-size: 1.2rem;
    }

    .states-card-group .states-card-btn {
        font-size: 1rem;
    }
}

@media (max-width: 562px) {
    .states-card-group .card {
        flex: 1 1 calc(100% - 1rem);
        height: 250px;
        max-width: 300px;
        max-height: 300px;
    }
}