@charset "UTF-8";

/* school results */

.school-details {
    margin: 0 auto;
    padding: 0;
    min-height: 95vh;
    background-color: var(--Blue-2);
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.school-details.visible {
    display: flex;
    opacity: 1;
}

.school-close {
    font-size: 1.7rem;
    margin: 1rem;
    display: flex;
    align-items: end;
    justify-content: end;
    text-align: end;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.school-close:hover {
    color: var(--Blue-4);
}

.school-details-text {
    margin: 1rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}