@charset "UTF-8";

/* states */

.states {
    margin: 0 auto;
    padding: 0;
    height: auto;
    min-height: 95vh;
    background-color: var(--Blue-2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}