@charset "UTF-8";

/* states */
.states-result {
    margin: 0 auto;
    padding: 0;
    height: auto;
    min-height: 95vh;
    background-color: var(--Blue-1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.states-result .states-result-text {
    margin-bottom: 20rem;
    align-items: top;
    justify-content: top;
    flex-direction: column;
    text-align: center;
}

.states-result .page-subtitle {
    color: var(--Blue-3);
    font-weight: 700;
}

.states-result .states-result-description {
    font-size: 2rem;
    font-family: var(--Padrao);
}

.states-map-container {
    height: 500px;
    border-radius: 8px;
    background: var(--Blue-2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.states-map,
.schools-list {
    display: none;
}

.states-map.activated,
.schools-list.activated {
    display: block;
}

.schools-list {
    height: 500px;
    display: flex;
    flex-direction: column;
}

#state-name {
    color: var(--Blue-4);
    font-size: 2.2rem;
    font-weight: 650;
    font-family: var(--Destaque);
    text-transform: uppercase;
}

.schools-container {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    background-color: var(--Blue-2);
    border-radius: 8px;
}

.disabled {
    display: none !important;
}

.activated {
    display: block !important;
}

.school-card {
    background-color: var(--Blue-5);
    border-radius: 8px;
    margin: 0.5rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.states-result .states-result-card-title {
    color: var(--Blue-1);
    font-weight: 650;
    font-size: 1.6rem;
    font-family: var(--Destaque);
    text-transform: uppercase;
    margin: 0.4rem 0 0.8rem 0;
}

.states-result .states-result-card-location {
    color: var(--Blue-1);
    font-weight: 600;
    font-size: 1.4rem;
    font-family: var(--Padrao);
    margin-bottom: 0.4rem;
    padding: 0;
}

.states-result .states-result-card-season {
    color: var(--Blue-1);
    font-weight: 550;
    font-size: 1.2rem;
    font-family: var(--Padrao);
    margin-bottom: 0.4rem;
    padding: 0;
}

.states-result .states-result-card-description {
    color: var(--Blue-1);
    font-weight: 500;
    font-size: 1.2rem;
    font-family: var(--Padrao);
    margin-bottom: 0.4rem;
    padding: 0;
}

.states-result .states-card-btn {
    padding: 0.5rem 1rem;
    margin: 0.4rem auto;
    border-radius: 0.5rem;
    color: var(--Blue-1);
    background-color: var(--Blue-3);
    font-size: 1.1rem;
    font-weight: 500;
    font-family: var(--Padrao);
    border: none;
    text-decoration: none;
    text-align: bottom;
    align-items: bottom;
    justify-content: bottom;
    transition: all 0.4s ease-in-out;
}

.states-result .states-card-btn:hover {
    background-color: var(--Blue-4);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}

.states-result .states-card-btn a {
    color: var(--Blue-1);
}

@media (max-width: 767px) {

    .states-map,
    .schools-list {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .states-result .states-map-container,
    .schools-container {
        width: 100%;
        max-width: 100%;
        height: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 575px) {

    .states-map,
    .schools-list {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .states-result .states-map-container,
    .schools-container {
        width: 100%;
        max-width: 100%;
        height: 300px;
        margin: 0 auto;
    }
}