DB_URL=jdbc:mysql://localhost:3306/nome_do_banco_de_dados?&serverTimezone=UTC
DB_USERNAME=usuario_do_banco_de_dados
DB_PASSWORD=senha_do_banco_de_dados
CORS_ALLOWED_ORIGINS=origem_permitida_para_cors
ADMIN_USERNAME=usuario_admin
ADMIN_PASSWORD=senha_admin
ADMIN_TOKEN_SECRET=token_secreto_do_admin
ADMIN_TOKEN_EXPIRATION_SEC=7200