@charset "UTF-8";

/* personalização global */

.page-title {
    font-size: 3.3rem;
    font-weight: 700;
    color: var(--Blue-5);
}

.page-subtitle {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--Blue-1);
}