@charset "UTF-8";

/* configurações globais */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, a {
    list-style: none;
    text-decoration: none;
    text-decoration: none !important;
}