@charset "UTF-8";

/* variables */

:root {
    /* palheta de cores */
    --Blue-1: #f2f2f2;
    --Blue-2: rgb(191, 199, 217);
    --Blue-3: rgb(121, 127, 141);
    --Blue-4: rgb(108, 119, 140);
    --Blue-5: rgb(77, 83, 115);

    /* substuição das cores do bootstrap */
    --bs-primary: var(--Blue-1);
    --bs-secondary: var(--Blue-2);
    --bs-success: var(--Blue-3);
    --bs-info: var(--Blue-4);
    --bs-warning: var(--Blue-5);
}