@charset "UTF-8";

/* carousel hero */

.hero-carousel {
    width: 100%;
    min-height: 60vh;
    max-height: 60vh;
    background-color: var(--Blue-1);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hero-carousel .container {
    padding: 0;
    max-width: 100%;
}

.hero-carousel .container .row,
.hero-carousel .carousel {
    width: 100%;
    padding: 0;
    margin: 0;
}

.hero-carousel .carousel .carousel-item {
    height: 70vh;
}

.hero-carousel .carousel .carousel-item img {
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: cover;
}

@media (max-width: 991px) {
    .hero-carousel {
        min-height: 40vh;
        max-height: 40vh;
    }

    .hero-carousel .carousel .carousel-item {
        height: 40vh;
    }

    .hero-carousel .carousel .carousel-item img {
        max-height: 40vh;
    }
}

@media (max-width: 888px) {
    .hero-carousel {
        min-height: 30vh;
        max-height: 30vh;
    }

    .hero-carousel .carousel .carousel-item {
        height: 30vh;
    }

    .hero-carousel .carousel .carousel-item img {
        max-height: 30vh;
    }
}

@media (max-width: 767px) {
    .hero-carousel {
        min-height: 25vh;
        max-height: 25vh;
    }

    .hero-carousel .carousel .carousel-item {
        height: 25vh;
    }

    .hero-carousel .carousel .carousel-item img {
        max-height: 25vh;
    }
}

@media (max-width: 575px) {
    .hero-carousel {
        min-height: 25vh;
        max-height: 25vh;
    }

    .hero-carousel .carousel .carousel-item {
        height: 25vh;
    }

    .hero-carousel .carousel .carousel-item img {
        max-height: 25vh;
    }
}

@media (max-width: 480px) {
    .hero-carousel {
        min-height: 20vh;
        max-height: 20vh;
    }

    .hero-carousel .carousel .carousel-item {
        height: 20vh;
    }

    .hero-carousel .carousel .carousel-item img {
        max-height: 20vh;
    }
}

@media (max-width: 360px) {
    .hero-carousel {
        min-height: 15vh;
        max-height: 15vh;
    }

    .hero-carousel .carousel .carousel-item {
        height: 15vh;
    }

    .hero-carousel .carousel .carousel-item img {
        max-height: 15vh;
    }
}
@media (max-width: 320px) {
    .hero-carousel {
        min-height: 10vh;
        max-height: 10vh;
    }

    .hero-carousel .carousel .carousel-item {
        height: 10vh;
    }

    .hero-carousel .carousel .carousel-item img {
        max-height:10vh;
    }
}