@charset "UTF-8";

/* hero */

.hero {
    margin: 0 auto;
    padding: 0;
    height: auto;
    min-height: 94vh;
    background-color: var(--Blue-2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('../../../../static/svgs/index/blob-haikei-hero.svg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.hero .page-title .destaque {
    text-decoration: underline;
}

.hero-text {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero-description {
    font-size: 1.2rem;
    color: black;
    font-family: var(--Padrao);
}

.hero-buttons {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.hero-buttons button {
    padding: 0.6rem;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    border-radius: 1.8rem;
    background-color: var(--Blue-3);
    color: white;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.hero-buttons button:hover {
    background-color: var(--Blue-5);
    scale: 1.03;
}

.hero-buttons button a {
    text-decoration: none;
    color: white;
}

.map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#map {
    height: 500px;
    width: 80%;
    background-color: transparent;
    position: relative;
}

.map-info {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
}

.map-info span {
    font-size: 1.5rem;
    text-decoration: none;
}

.map-info span i {
    color: var(--Blue-1);
    background-color: var(--Blue-4);
    padding: 0.5rem;
    border-radius: 9999rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.map-info span i:hover {
    background-color: var(--Blue-3);
}

.instruction-menu {
    position: absolute;
    top: 60px;
    right: 10px;
    background: var(--Blue-4);
    padding: 1rem;
    z-index: 500;
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.instruction-menu.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.instruction-menu h3 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--Blue-1);
    font-family: var(--Destaque);
    margin-top: 0;
}

.instruction-menu p {
    color: var(--Blue-1);
    font-size: 0.9rem;
    font-weight: 545;
    font-family: var(--Padrao);
    margin: 5px 0;
}

.instruction-menu span {
    color: rgba(242, 242, 242, 0.500);
}

.close-map-info {
    color: var(--Blue-1);
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
}

.close-map-info span i {
    font-size: 1.4rem;
    color: var(--Blue-1);
    padding: 0.5rem;
    margin: 0.5rem;
}

.close-map-info:hover {
    transform: rotate(90deg);
    scale: 1.1;
}

.leaflet-popup-content-wrapper {
    background-color: var(--Blue-4);
    border: 2px solid var(--Blue-2);
}

/* Estilo do link dentro do popup */
.leaflet-popup-content a {
    color: var(--Blue-2);
    text-decoration: none;
    font-weight: bold;
}

.leaflet-popup-content a:hover {
    color: var(--Blue-3);
}

/* Estilo da seta do popup */
.leaflet-popup-tip {
    background-color: var(--Blue-1);
    border: 1px solid var(--Blue-2);
}

@media (max-width: 1399px) {
    .hero .page-subtitle {
        font-size: 1.9rem;
    }
}

@media (max-width: 1199px) {
    .hero .page-title {
        font-size: 3rem;
    }

    .hero .page-subtitle {
        font-size: 1.6rem;
    }

    .hero .hero-description {
        font-size: 1rem;
    }
}

@media (max-width: 991px) {
    .hero .page-title {
        font-size: 2.5rem;
        margin: 0;
    }

    .hero .page-subtitle {
        font-size: 1.3rem;
        margin: 0.5rem;
    }

    .hero .hero-description {
        font-size: 0.9rem;
        margin: 0;
    }
}

@media (max-width: 767px) {
    .hero .page-title {
        font-size: 2.2rem;
        margin-top: 0.5rem;
    }
}

@media (max-width: 575px) {
    .hero {
        min-height: 90vh;
    }
}

@media (max-width: 474px) {
    .hero .page-title {
        font-size: 2rem;
        margin-top: 0.5rem;
    }

    .hero .page-subtitle {
        font-size: 1.1rem;
        margin: 0.5rem;
    }

    .hero .hero-description {
        font-size: 0.9rem;
        font-weight: 500;
    }
}