@charset "UTF-8";

/* hero */

.hero {
    margin: 0 auto;
    padding: 1rem;
    height: auto;
    min-height: 94vh;
    background-color: var(--Blue-2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-text {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.hero-description {
    font-size: 1.1rem;
    font-weight: 550;
    color: black;
}

.hero-buttons {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.hero-buttons button {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--Blue-3);
    font-size: 1.1rem;
    font-weight: 550;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.hero-buttons a {
    color: black;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.hero-buttons button:hover {
    background-color: var(--Blue-5);
    transform: scale(1.1);
    & a {
        color: var(--Blue-1);
    }
}

.hero-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-carousel img {
    max-width: 100%;
    height: auto;
    border-radius: 2rem;
}

@media (min-width: 1756px) {
    body {
        overflow: hidden;
    }
}

@media (max-width: 1399px) {
    .hero .page-subtitle {
        font-size: 1.9rem;
    }
}

@media (max-width: 1199px) {
    .hero .page-title {
        font-size: 3rem;
    }

    .hero .page-subtitle {
        font-size: 1.6rem;
    }

    .hero .hero-description {
        font-size: 1rem;
    }

    .hero .hero-buttons button {
        font-size: 1rem;
    }
}

@media (max-width: 991px) {
    .hero .page-title {
        font-size: 2.5rem;
        margin: 0;
    }

    .hero .page-subtitle {
        font-size: 1.3rem;
        margin: 0.8rem;
    }

    .hero .hero-description {
        font-size: 0.9rem;
        margin: 0;
    }

    .hero .hero-buttons button {
        font-size: 0.9rem;
        margin: 0;
    }
}

@media (max-width: 767px) {
    body {
        overflow: auto;
    }

    .hero .page-title {
        font-size: 2.2rem;
        margin-top: 0.8rem;
    }
}

@media (max-width: 474px) {
    .hero .page-title {
        font-size: 2rem;
        margin-top: 0.8rem;
    }

    .hero .page-subtitle {
        font-size: 1.1rem;
        margin: 0.5rem;
    }

    .hero .hero-description {
        font-size: 0.9rem;
        font-weight: 500;
    }

    .hero .hero-buttons button {
        font-size: 0.8rem;
        margin-bottom: 0.8rem;
    }
}