@charset "UTF-8";

/* about */

.about {
    margin: 0 auto;
    padding: 1rem;
    height: auto;
    min-height: 95vh;
    background-color: var(--Blue-1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('../../../../static/svgs/index/about-us/waves-kiteguy.svg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.about .page-title {
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.about .page-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent 0%, var(--Blue-4) 50%, transparent 100%);
    animation: windLine 3s infinite;
}

@keyframes windLine {
    0% {
        background-position: -100% 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.about .page-subtitle {
    color: var(--Blue-3);
    font-weight: 700;
}

.about-card-group {
    gap: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 550px;
}

.about-card-group .card {
    flex: 1 1 calc(45% - 1rem);
    max-width: 300px;
    background-color: var(--Blue-1);
    border-radius: 0.5rem;
    overflow: hidden;
    border: none;
    transition: all 0.4s ease-in-out;
}

.about-card-group .card:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 0 var(--Blue-2);
    border-radius: 1rem;
}

.about-card-group .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    height: 300px;
    transition: transform 0.4s ease;
}

.about-card-group .card img:hover {
    transform: scale(1.01);
}

.about-card-group .card-body {
    padding: 1.5rem;
}

.about-card-group .card-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
    text-align: center;
    font-family: var(--font-1);
}

.about-card-group .card-text {
    font-size: 1rem;
    font-weight: 450;
    color: black;
    text-align: center;
    font-family: var(--font-1);
}

.about-description {
    font-size: 1.3rem;
    font-weight: 450;
    color: black;
    text-align: center;
    font-family: var(--font-1);
}

.about-us-buttons {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.about-us-buttons button {
    padding: 0.6rem;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    border-radius: 1.8rem;
    background-color: var(--Blue-3);
    color: white;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.about-us-buttons button:hover {
    background-color: var(--Blue-5);
    scale: 1.03;
}

.about-us-buttons button a {
    text-decoration: none;
    color: white;
    font-family: var(--font-1);
}

@media (max-width: 767px) {
    .about .page-subtitle {
        margin: 1rem 0;
    }

    .about-description {
        margin: 1.5rem 0;
    }
}

@media (max-width: 500px) {
    .about-card-group .card {
        flex: 1 1 calc(100% - 1rem);
    }

    .about-card-group .card-title {
        font-size: 1.2rem;
    }

    .about-card-group .card-text {
        font-size: 0.9rem;
    }

    .about-description {
        font-size: 1rem;
    }
}