@charset "UTF-8";

/* footer */

.about-us-footer {
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e7eb;
}

.about-us-footer .about-us-footer-text {
    margin: 1rem;
    padding: 0;
}

.about-us-footer .about-us-footer-text li {
    font-size: 0.9rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.550);
}

.about-us-footer .about-us-footer-text li a {
    color: rgba(0, 0, 0, 0.550);
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.about-us-footer .footer-creator:hover {
    color: var(--Blue-5);
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
} 

@media (max-width: 575px) {
    .about-us-footer {
        min-height: 4vh;
    }

    .about-us-footer .about-us-footer-text {
        margin: 0.6rem;
    }
}