@charset "UTF-8";

/* partners info */

.partners-info {
    margin: 0 auto;
    padding: 0;
    height: auto;
    min-height: 100vh;
    background-color: var(--Blue-2);
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../../../../static/svgs/index/partners/layered-waves-haikei-top.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}