@charset "UTF-8";
@import "tailwindcss";

@theme {

  --color-border: var(--blue-2)
  --color-bg: var(--blue-1);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
}

@layer base {
  :root {
    --blue-1: #f2f2f2;
    --blue-2: #bfc7d9;
    --blue-3: #797f8d;
    --blue-4: #6c778c;
    --blue-5: #4e5873;
    --black: #2222;

    --primary: #000000;
    --primary-foreground: #ffffff;
  }

  * {
    @apply box-border;
  }

  html {
    @apply scroll-smooth;
  }

/*   body {
    @apply color-bg text-blue-3 font-sans;
  } */
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;

    @media (width >=640px) {
        max-width: 640px;
    }

    @media (width >=768px) {
        max-width: 768px;
    }

    @media (width >=1024px) {
        max-width: 1024px;
    }

    @media (width >=1280px) {
        max-width: 1280px;
    }

    @media (width >=1400px) {
        max-width: 1400px;
    }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}